body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#naman{
    margin-top: 2rem;
    
color: darkblue;
font-size: 1.5rem;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#boat{
border: 15px solid orangered;
}
#form{
    display: block;
    width: 90%;
    margin-left: 2rem;
    
}
.light{
font-size: 1rem;
color: darkblue;
}
.energy{
    width: 100%;
    padding: 0.6rem;
}
.tanya{
display: flex;
align-items: center;
justify-content: center;
margin-top: 1rem;
}
.bhavya{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
   

   border: 2px solid yellow;
   border: none;
   background-color: yellow;
}
#pen{
    font-family:initial;
    text-decoration: none;
    color: black;

    font-size: 1.2rem;
}
#nishit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    border: 2px solid red;
    background-color: red;
    color: white;
    margin-top: 5rem;
    
    
}